In [27]:
import datetime as dt
import yfinance as yf
import os

In [28]:
start = dt.datetime(2020,1,1)
end = dt.datetime.today()

In [29]:
df = yf.download('GOOG', start=start, end=end)
df.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  67.077499  68.406998  67.077499  68.368500  68.368500  28132000
2020-01-03  67.392998  68.625000  67.277199  68.032997  68.032997  23728000
2020-01-06  67.500000  69.824997  67.500000  69.710503  69.710503  34646000
2020-01-07  69.897003  70.149498  69.518997  69.667000  69.667000  30054000
2020-01-08  69.603996  70.579002  69.542000  70.216003  70.216003  30560000

In [30]:
df.to_csv(os.getcwd() + '/work/data/GOOG.csv');