In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
from pylab import mpl
mpl.rcParams['font.family'] = 'serif'
%matplotlib inline

In [3]:
tickers = yf.Tickers('GOOGL SPX')
tickers.tickers['GOOGL'].info
tickers.tickers['GOOGL'].history(period="1mo")
tickers.tickers['GOOGL'].actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [4]:
data = yf.download("SPY", start="2023-01-01", end="2023-04-01")

[*********************100%***********************]  1 of 1 completed

In [5]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,384.369995,386.429993,377.829987,380.820007,379.372131,74850700
2023-01-04,383.179993,385.880005,380.000000,383.760010,382.300964,85934100
2023-01-05,381.720001,381.839996,378.760010,379.380005,377.937592,76970500
2023-01-06,382.609985,389.250000,379.410004,388.079987,386.604492,104189600
2023-01-09,390.369995,393.700012,387.670013,387.859985,386.385345,73978100
...,...,...,...,...,...,...
2023-03-27,398.119995,398.920013,395.559998,396.489990,396.489990,74010400
2023-03-28,395.769989,396.489990,393.690002,395.600006,395.600006,62871700
2023-03-29,399.929993,401.600006,398.679993,401.350006,401.350006,77497900
2023-03-30,404.089996,404.350006,401.760010,403.700012,403.700012,69840000
2023-03-31,404.660004,409.700012,404.549988,409.390015,409.390015,111974600