In [1]:
%load_ext dotenv
%dotenv
from dotenv import dotenv_values
import os

config = dotenv_values("work/.env")

cannot find .env file

In [23]:
import nasdaqdatalink

nasdaqdatalink.ApiConfig.api_key = config["NASDAQ_API_KEY"]
data = nasdaqdatalink.get_table(
    "SHARADAR/SEP", ticker="TSLA", date={"gte": "2020-01-01"}, paginate=True
)

In [19]:
data.tail()

,ticker,date,open,high,low,close,volume,closeadj,closeunadj,lastupdated
None,,,,,,,,,,
77,TSLA,2018-09-10,18.217,19.069,18.067,19.033,214252920.0,19.033,285.50,2022-08-25
78,TSLA,2018-09-07,17.340,17.890,16.817,17.549,337378965.0,17.549,263.24,2022-08-25
79,TSLA,2018-09-06,18.987,19.411,18.592,18.730,112211400.0,18.730,280.95,2022-08-25
80,TSLA,2018-09-05,19.003,19.119,18.479,18.716,115812315.0,18.716,280.74,2022-08-25
81,TSLA,2018-09-04,19.796,19.879,19.200,19.263,125257035.0,19.263,288.95,2022-08-25