In [8]:
import pickle
import os
import datetime as dt
import yfinance as yf
import pandas as pd

In [9]:
with open(os.getcwd() + "/data/sp500.pickle", "rb") as f:
    tickers = pickle.load(f)

In [21]:
df = pd.DataFrame(tickers)
df.rename(columns={0: "ticker"}, inplace=True)
df

    ticker
0      MMM
1      AOS
2      ABT
3     ABBV
4      ACN
..     ...
498    YUM
499   ZBRA
500    ZBH
501   ZION
502    ZTS

[503 rows x 1 columns]

In [22]:
df.to_csv("data/tickers.csv", index=False)